body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
	background-color: #eeeeee;
	margin: 0;
}

.container {
	width:1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);

}

.header-container p{
	margin: 0;
}

.header-container {
	padding-top:49px;
	padding-bottom: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.main-navigation {
	padding:0;
	margin:0;
	display:flex;
	align-items: center;
}

.main-navigation-style {
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
	font-weight:500;
}


.main-header-logo {
	width:160px;
	height:65px;
	margin-right:200px;
}

.site-navigation {
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 440px;
}

.sait-navigation-current {
	color:#000000;
	border-bottom:2px solid #fb565a;
	padding-bottom:3px;
}

.header-container a {
	color:#000000;
}

.header-container a:hover {
	color:#fb565a;
}

.header-container a:active {
	color:rgba(0, 0, 0, 0.3);
}

.header-container a:focus {
	color:#000000;
	border-bottom:2px solid #fb565a;
	padding-bottom:9px;
}

.cart {
	width:116px;
	padding-left:41px;

	position:relative;
}

.cart::before {
	content: "";

	position: absolute;
	width: 15px;
	height: 15px;
	left:0;
	top:2px;

	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider {
	background-color: #eeeeee;
	margin-bottom:80px;	
}

.slider p{
	margin: 0;
}

.slider-block-list{
	list-style: none;
	padding:0;
	margin:0;
}

.slider-block {
	padding:0;
	margin:0;
	min-height:413px;
}

.slider-block img{
	float:right;
}

.slider-block .slider-title {
	font-size: 55px;
	line-height: 55px;
	font-weight:500;

	padding-top: 60px;
	padding-bottom: 20px;
}

.slider-block .slider-content{
	padding-bottom: 40px;
}

.button {
	display:block;
	border:none;
	border-radius: 3px;
	width:240px;
	color:#ffffff;
	background-color:#fb565a;
	font-weight:500;
	text-transform: uppercase;
	padding: 13px 0;
	
	text-align: center;
 	text-decoration: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
	color:rgba(255,255,255,0.3);
	background-color:#d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.slider-pagination {
	list-style: none;
}
.pagination-button {
	border: none;
	background-color:#ffffff;
}

.services {
	margin-bottom:40px;
}

.services p{
	margin: 0;
}

.services-list {
	list-style: none;
	padding:0;
	padding-bottom:79px;
	margin:0;

	border-bottom:2px solid #eeeeee;

	display:flex;
}

.services-list h3{
	font-weight: 700;
	font-size:24px;
	line-height: 30px;
	text-transform: uppercase;
}

.order-button {
	width: 160px;
}

.green-button {
	background-color:#00ca74;
}

.green-button:hover,
.green-button:focus {
	background-color:#00ca74;
}

.green-button:active {
	color:rgba(255,255,255,0.3);
	background-color:#00aa62;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.yellow-button {
	background-color:#efc84a;
}

.yellow-button:hover,
.yellow-button:focus {
	background-color:#eab534;
}

.yellow-button:active {
	color:rgba(255,255,255,0.3);
	background-color:#e5a722;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.services-item {
	width:300px;
	min-height:176px;
	position:relative;
	padding-top:172px;
	padding-right:100px;
}

.services-item:last-child {
	padding-right:0;
}

.services-item:nth-child(1)::before {
	content: "";

	position: absolute;
	width: 300px;
	height: 146px;
	left:0;
	top:0;

	background-image: url("../img/illustration-web.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}


.services-item:nth-child(2)::before {
	content: "";

	position: absolute;
	width: 300px;
	height: 146px;
	left:0;
	top:0;

	background-image: url("../img/illustration-annexes.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.services-item:nth-child(3)::before {
	content: "";

	position: absolute;
	width: 300px;
	height: 146px;
	left:0;
	top:0;

	background-image: url("../img/illustration-presentations.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.services-item p {
	padding-bottom:35px;
}

.studio p{
	margin: 0;
}

.studio-columns {
	display:flex;
	justify-content:space-between;
	padding: 0;
	margin: 0;
	margin-bottom:46px;

	padding-bottom: 76px;
	border-bottom: 2px solid #eeeeee;
}

.about-us {
	width:660px;
	padding-top: 35px;

}
.about-us .title{
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color:#000000;
	
	padding-bottom: 30px;

}

.about-us-title {
	text-transform: uppercase;
	color:#000000;

	padding-top:42px;
	padding-bottom:15px;
}

.about-us-list {
	list-style: none;
	padding: 0;
	padding-left:37px;
	margin: 0;
}

.about-us-item {
	padding-bottom: 25px;

	position:relative;
}

.about-us-item::before {
	content:"";

	display:block;
	position:absolute;
	left:-37px;
	top:-4px;

	width:25px;
	height:14px;
	border-bottom: 2px solid #fb565a;
}

.statistics{
	width: 360px;
}

.statistics-title {
	text-transform: uppercase;
	padding-top: 33px;
	padding-bottom: 45px;
	text-align:center;
}

.statistics-header th{
	text-align: left;
	font-size: 45px;
	line-height: 10.06px;
	color:#000000;

	padding-bottom: 20px;
}

.partners {
	margin-bottom:80px;
	padding-bottom: 44px;
	border-bottom: 2px solid #eeeeee;


}

.partners p{
	margin: 0;
}

.partners-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display:flex;
	align-items: center;
}


.partners-item:first-child {
	padding-left:31px;
	padding-right:96px;
}

.partners-item:nth-child(2) {
	padding-right:103px;
}

.partners-item:nth-child(3) {
	padding-right:121px;
}



.main-footer p{
	margin: 0;
}

.contacts {
	position: relative;

	width:1440px;
	margin:0 auto;
}

.map {
	width:1440px;
	height:416px;
	margin:0 auto;
}

.contacts-info {
	padding:50px;
	min-height: 208px; 
	width:219px;

	position: absolute;
	top:54px;
	left:140px;
	background-color: white;
}

.contacts-title {
	font-size: 18px;
	line-height: 30px;
	color:#000000;

	padding-bottom:30px;
}

.contacts-content {
	line-height: 18px;
	color:#666666;

	padding-bottom: 15px;
}


.write-us-button {
	width:219px;
}

.social {
	padding-top: 69px;
	display:flex;
	align-items: center;
}

.social-main {
	width:560px;
}

.social-title {
	font-size: 36px;
	line-height: 36px;
	color:#000000;
	padding-bottom:12px;
}

.social-content {
	line-height: 22px;
	color:#444444;
}

.social-button-list {
	list-style: none;
	padding:0;
	margin:0;
	margin-right:139px;
	width:260px;
	min-height:79px;

	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.social-button-item {

}

.write-us p{
	margin: 0;
}

.write-us-title{
	font-size: 45px;
	line-height: 45px;
	color:#000000;
	font-weight: 500;
}

.sending-letter-title{
	line-height: 18px;
	color:#000000;
	font-weight: 700;
}

.sending-letter input[type="text"],
.sending-letter textarea {
	font: inherit;
 	color: rgba(68,68,68,0.5);
 	line-height: 18px;
 	border: 2px solid #d7dcde;

}

.sending-letter input[type="text"]:hover {
 	border: 2px solid #b4b9bb;

}

.sending-letter input[type="text"]:focus {
 	color: rgba(68,68,68,1);
 	border: 2px solid #000000;

}

.send-button {
	width:260px;

}

.modal-close {
	border: none;
	color:#fb565a;
	background-color:#ffffff

}

/*Стили каталога*/

.store-page {
	display:flex;
	padding-top:55px;
	
}

.title-background {
	margin:0px;
	padding-top:59px;
	padding-bottom:105px;
	background-color: #eeeeee;
}

.page-title {
	text-align:center;
	font-size:55px;
	line-height: 55px;
	color:#000000;
}

.filters {
	width:260px;
	min-height:777px;

	margin-right:140px;

}

.filter-title {
	color:#000000;
	font-size:18px;
	line-height:30px;
	font-weight:700;
	text-transform: uppercase;
	margin:0;
	padding:0;
}

.filter-form p {
	text-transform: uppercase;
}

.filter-form input[type="text"] {
	font: inherit;
}

.filter-option-list{
	list-style: none;
	padding:0;
	margin:0;
}

.catalor {
	width:760px;
}

.show-button{
	background-color:#eeeeee;
}

.show-button:hover{
	background-color:#dfdfdf;
}

.show-button:focus{
	background-color:#d5d5d5;
	color: rgba(68,68,68,0.3);
}

.sort-container {
	width:360px;
	margin-right:20px;
}

.sort-filter {
	display:flex;
	padding-bottom:55px;
	align-items: flex-start;
}

.sort-button-list{
	list-style: none;

	width:280px;
	padding:0;
	margin:0;
	margin-right:20px;

	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.sort-button-list a{
	text-transform: uppercase;
	font-size:14px;
	color: rgba(68,68,68,0.3);
}

.sort-button-list a:hover{
	color: rgba(68,68,68,0.6);
}

.sort-button-list a:focus,
.sort-button-list a:active{
	color: rgba(68,68,68,1);
}

.triangle-sort-button-list {
	list-style: none;

	padding:0;
	margin:0;
}

.triangle-sort-button-list a{
	font-size:0;
	color: rgba(68,68,68,1);
}
.catalog{
	width:760px;
	margin-bottom: 60px;
}

.catalog-list{
	list-style: none;

	padding:0;
	margin:0;
	padding-bottom: 60px;

	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog-item{
	width:360px;
}

.price-button {
	width: 200px;
}



.product-description-title a{
	color:#000000;
	font-weight: 700;
	line-height: 30px;
	background-color: #ffffff;
}

.pagination-list {
	list-style: none;

	padding:0;
	margin:0;

	display: flex;
}

.pagination-item {
	margin-right:11px;
}

.pagination-list a{
	display:block;
	width:auto;
	padding:16px 18px;
	border:3px solid #eeeeee;
	background-color: #eeeeee;
	text-align: center;
}

.pagination-item a{
	color:#000000;
	font-weight: 500;
	background-color: #eeeeee;
}

.pagination-item a:hover{
	background-color: #dfdfdf;
}

.pagination-item a:focus{
	color: rgba(68,68,68,0.3);
	background-color: #d5d5d5;
}

.pagination-item-current a{
	color:#000000;
	background-color: #dbdbdb;
}