body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
	background-color: #eeeeee;
	margin: 0;
}

.container {
	width:1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);

}

.header-container p{
	margin: 0;
}

.header-container {
	padding-top:49px;
	padding-bottom: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.main-navigation {
	padding:0;
	margin:0;
	display:flex;
	align-items: center;
}

.main-navigation-style {
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
	font-weight:500;
}


.main-header-logo {
	width:160px;
	height:65px;
	margin-right:200px;
}

.site-navigation {
	padding:0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 440px;
}

.sait-navigation-current {
	color:#000000;
	border-bottom:2px solid #fb565a;
	padding-bottom:3px;
}

.header-container a {
	color:#000000;
}

.header-container a:hover {
	color:#fb565a;
}

.header-container a:active {
	color:rgba(0, 0, 0, 0.3);
}

.header-container a:focus {
	color:#000000;
	border-bottom:2px solid #fb565a;
	padding-bottom:9px;
}

.cart {
	width:116px;
	padding-left:41px;

	position:relative;
}

.cart::before {
	content: "";

	position: absolute;
	width: 15px;
	height: 15px;
	left:0;
	top:2px;

	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider {
	background-color: #eeeeee;
	margin-bottom:80px;	
	position: relative;
}

.slider p{
	margin: 0;
}

.slider-block-list{
	list-style: none;
	padding:0;
	margin:0;
}

.slider-block {
	margin:0;
	display: none;
	padding: 78px 0 80px 0;

}

.slider-block:nth-child(1) {
	display: block;}

.slider-block:nth-child(1) {
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
	background-position: 93% 18px;
}


.slider-block:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-block:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-block .slider-title {
	font-size: 55px;
	line-height: 55px;
	font-weight:500;

	max-width: 600px;
	padding-bottom: 27px;
}

.slider-block .slider-content{
	max-width: 430px;
	padding-bottom: 38px;
}

.button {
	display:block;
	border:none;
	border-radius: 3px;
	width:240px;
	color:#ffffff;
	background-color:#fb565a;
	font-weight:500;
	text-transform: uppercase;
	height:50px;
	
	line-height: 51px;
	text-align: center;
 	text-decoration: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
	color:rgba(255,255,255,0.3);
	background-color:#d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.slider-pagination {
	list-style: none;
	margin:0;
	padding:0;
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;
  
	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}


.pagination-button {
	position: relative;

	border-radius: 50%;
	cursor: pointer;

	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;
}

.pagination-button::after {
	content: "";
	width: 18px;
	height: 18px;

	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;

	background: #ffffff;

	border-radius: 50%;
}

.slider-pagination .active::before {
	content: "";
  
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
  
	width: 4px;
	height: 4px;
	margin: -4px;
  
	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.services {
	margin-bottom:40px;
}

.services p{
	margin: 0;
}

.services-list {
	list-style: none;
	padding:0;
	padding-bottom:79px;
	margin:0;

	border-bottom:2px solid #eeeeee;

	display:flex;
}

.services-list h3{
	font-weight: 700;
	font-size:24px;
	line-height: 30px;
	text-transform: uppercase;
}

.order-button {
	width: 160px;
}

.green-button {
	background-color:#00ca74;
}

.green-button:hover,
.green-button:focus {
	background-color:#00bc6c;
}

.green-button:active {
	color:rgba(255,255,255,0.3);
	background-color:#00aa62;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.yellow-button {
	background-color:#efc84a;
}

.yellow-button:hover,
.yellow-button:focus {
	background-color:#eab534;
}

.yellow-button:active {
	color:rgba(255,255,255,0.3);
	background-color:#e5a722;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.services-item {
	width:300px;
	min-height:176px;
	position:relative;
	padding-top:172px;
	padding-right:100px;
}

.services-item:last-child {
	padding-right:0;
}

.services-item:nth-child(1)::before {
	content: "";

	position: absolute;
	width: 300px;
	height: 146px;
	left:0;
	top:0;

	background-image: url("../img/illustration-web.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}


.services-item:nth-child(2)::before {
	content: "";

	position: absolute;
	width: 300px;
	height: 146px;
	left:0;
	top:0;

	background-image: url("../img/illustration-annexes.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.services-item:nth-child(3)::before {
	content: "";

	position: absolute;
	width: 300px;
	height: 146px;
	left:0;
	top:0;

	background-image: url("../img/illustration-presentations.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.services-item p {
	padding-bottom:35px;
}

.studio p{
	margin: 0;
}

.studio-columns {
	display:flex;
	justify-content:space-between;
	padding: 0;
	margin: 0;

	padding-bottom: 76px;
}

.about-us {
	width:660px;
	padding-top: 35px;

}
.about-us .title{
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color:#000000;
	
	padding-bottom: 30px;

}

.about-us-title {
	text-transform: uppercase;
	color:#000000;

	padding-top:42px;
	padding-bottom:15px;
}

.about-us-list {
	list-style: none;
	padding: 0;
	padding-left:37px;
	margin: 0;
}

.about-us-item {
	padding-bottom: 25px;

	position:relative;
}

.about-us-item::before {
	content:"";

	display:block;
	position:absolute;
	left:-37px;
	top:10px;

	width:25px;
	height:2px;
	background-color: #fb565a;
}

.statistics{
	width: 360px;
}

.statistics-title {
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 25px;
	text-align:center;
}

.statistics-data {
	padding-top:12px;
}


.statistics-header th:last-child{
	padding-right: 0;
}

.statistics-header th{
	text-align: left;
	font-size: 45px;
	line-height: 45px;
	color:#000000;
	
	padding-right: 25px;
	padding-bottom: 6px;
}

.partners {
	margin-bottom:80px;



}

.partners p{
	margin: 0;
}

.partners-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display:flex;
	align-items: center;

	padding-top: 46px;
	padding-bottom: 44px;
	border-bottom: 2px solid #eeeeee;
	border-top: 2px solid #eeeeee;
}

.partners-list img{
	opacity:0.2;
}

.partners-list img:hover,
.partners-list img:focus{
	opacity:1;
}

.partners-list img:active{
	opacity:0.1;
}



.partners-item:first-child {
	position:relative;
	padding-left:31px;
	padding-right:96px;
}

.partners-item:nth-child(2) {
	position:relative;
	padding-right:103px;
}

.partners-item:nth-child(3) {
	position:relative;
	padding-right:121px;
}


.partners-item:first-child::after {
	content: "";


	position:absolute;
	right:49px;
	top:2px;

	width:2px;
	height:52px;

	background-color:#eeeeee; 
}

.partners-item:nth-child(2)::after {
	content: "";


	position:absolute;
	right:44px;
	top:18px;

	width:2px;
	height:52px;

	background-color:#eeeeee; 
}

.partners-item:nth-child(3)::after {
	content: "";


	position:absolute;
	right:56px;
	top:-1px;

	width:2px;
	height:52px;

	background-color:#eeeeee; 
}


.main-footer p{
	margin: 0;
}

.contacts {
	position: relative;

	width:1440px;
	margin:0 auto;
}

.map {
	width:1440px;
	height:416px;
	margin:0 auto;
}

.contacts-info {
	padding:50px;
	min-height: 208px; 
	width:219px;

	position: absolute;
	top:54px;
	left:140px;
	background-color: white;
}

.contacts-title {
	font-size: 18px;
	line-height: 30px;
	color:#000000;

	padding-bottom:30px;
}

.contacts-content {
	line-height: 18px;
	color:#666666;

	padding-bottom: 15px;
}


.write-us-button {
	width:219px;
}

.social {
	padding-top: 69px;
	padding-bottom:68px;
	display:flex;
	align-items: center;
}

.social-main {
	width:560px;
}

.social-title {
	font-size: 36px;
	line-height: 36px;
	color:#000000;
	padding-bottom:12px;
}

.social-content {
	line-height: 22px;
	color:#444444;
}

.social-button-list {
	list-style: none;
	padding:0;
	margin:0;
	margin-right:139px;
	width:260px;
	min-height:79px;

	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


 .social-button-item {
	
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e1e1e1;
	border-radius: 50px;
	width: 79px;
	height: 79px;

}

 .social-button-item:hover,
 .social-button-item:focus {
	background-color: #e74246;

}

 .social-button-item:active {
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;


}

 .social-button-item:active path {
	opacity: 0.2;

}

.modal {

  position: fixed;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 101;

  }

.write-us{
	display: none;

	width:760px;

	padding:68px 100px 83px 100px;
	left:50%;
	bottom:50px;
	margin-left: -480px;

}

.write-us p{
	margin: 0;
}

.write-us-title{
	margin:0;
	padding-bottom: 0;
	padding-bottom: 38px;

	font-size: 45px;
	line-height: 45px;
	color:#000000;
	font-weight: 500;
}

.sending-letter-title{
	line-height: 18px;
	color:#000000;
	font-weight: 700;
}

.sending-letter-list {
	display:flex;
	justify-content: space-between;
}

.sending-letter-block {
	padding-bottom:30px;
}

.sending-letter-block:last-child {
	padding-bottom:45px;
}


.sending-letter label{
	padding-bottom:10px;
}

.sending-letter input[type="text"],
.sending-letter textarea {
	box-sizing: border-box;
	font: inherit;
 	color: rgba(68,68,68,0.5);
 	border: 2px solid #d7dcde;
 	padding:13px 15px;
 	border-radius: 5px;
}

.sending-letter input[type="text"] {
	width:360px;
}

.sending-letter textarea {
	width:760px;
	height: 115px;
}

.sending-letter input[type="text"]:hover,
.sending-letter textarea:hover {
 	border: 2px solid #b4b9bb;
}

.sending-letter input[type="text"]:focus,
.sending-letter textarea:focus {
 	color: rgba(68,68,68,1);
 	border: 2px solid #000000;

}

.sending-letter input[type="text"]:active,
.sending-letter textarea:active {
 	border: 2px solid #b4b9bb;
}

.sending-letter input[type="text"]:invalid{
 	color: #e74246;
 	border: 2px solid #e74246;
}

.send-button {
	width:260px;
	cursor: pointer;

}

.modal-close {
	position:absolute;
	top:78px;
	right:88px;

	background-color: #ffffff;

	width: 23px;
	height: 23px;

	font-size: 0;

	border: 0;

	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 21px;
  height: 3px;

  background-color: #fecccd;
}



.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/*Стили каталога*/

.store-page {
	display:flex;
	padding-top:55px;
	
}

.title-background {
	margin:0px;
	padding-top:59px;
	padding-bottom:105px;
	background-color: #eeeeee;
}

.page-title {
	text-align:center;
	font-size:55px;
	line-height: 55px;
	color:#000000;
}

.filters {
	width:260px;
	min-height:777px;

	margin-right:140px;

}

.filter-title {
	color:#000000;
	font-size:18px;
	line-height:30px;
	font-weight:700;
	text-transform: uppercase;
	margin:0;
	padding:0;
}

.filter-form p {
	text-transform: uppercase;
}

.filter-form input[type="text"] {
	font: inherit;
}

.filter-option-list{
	list-style: none;
	padding:0;
	margin:0;
}

.catalor {
	width:760px;
}

.show-button{
	background-color:#eeeeee;
}

.show-button:hover{
	background-color:#dfdfdf;
}

.show-button:focus{
	background-color:#d5d5d5;
	color: rgba(68,68,68,0.3);
}

.sort-container {
	width:360px;
	margin-right:20px;
}

.sort-filter {
	display:flex;
	padding-bottom:55px;
	align-items: flex-start;
}

.sort-button-list{
	list-style: none;

	width:280px;
	padding:0;
	margin:0;
	margin-right:20px;

	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.sort-button-list a{
	text-transform: uppercase;
	font-size:14px;
	color: rgba(68,68,68,0.3);
}

.sort-button-list a:hover{
	color: rgba(68,68,68,0.6);
}

.sort-button-list a:focus,
.sort-button-list a:active{
	color: rgba(68,68,68,1);
}

.triangle-sort-button-list {
	list-style: none;

	padding:0;
	margin:0;
}

.triangle-sort-button-list a{
	font-size:0;
	color: rgba(68,68,68,1);
}
.catalog{
	width:760px;
	margin-bottom: 60px;
}

.catalog-list{
	list-style: none;

	padding:0;
	margin:0;
	padding-bottom: 60px;

	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog-item{
	position:relative;
	width:360px;
	padding-top:40px;
	margin-bottom:33px;
}

.catalog-item::before {
	content:"";
	position:absolute;

	width:360px;
	height:40px;

	left:0;
	top:0;


	background-image: url("../img/browser.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.price-button {
	width: 200px;
	margin:0 auto;
}

.product-description {
	display:none;

	position:absolute;
	text-align:center;
	
	width:360px;
	bottom:0;
	left:0;

	background-color: #e9e9e9;

	padding-top:30px;
	padding-bottom:43px;
}

li:first-child .product-description {
	display:block;
}

.product-description-title {
	margin:0;
	padding-bottom:19px;
}

.product-description-title a{
	color:#000000;
	font-weight: 700;
	line-height: 30px;
	background-color: #e9e9e9;
}

.product-description p{
	margin:0;
	padding-bottom:20px;
}

.pagination-list {
	list-style: none;

	padding:0;
	margin:0;

	display: flex;
}

.pagination-item {
	margin-right:11px;
}

.pagination-list a{
	display:block;
	width:auto;
	padding:16px 18px;
	border:3px solid #eeeeee;
	background-color: #eeeeee;
	text-align: center;
}

.pagination-item a{
	color:#000000;
	font-weight: 500;
	background-color: #eeeeee;
}

.pagination-item a:hover{
	background-color: #dfdfdf;
}

.pagination-item a:focus{
	color: rgba(68,68,68,0.3);
	background-color: #d5d5d5;
}

.pagination-item-current a{
	color:#000000;
	background-color: #dbdbdb;
}